<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <img src="/images/<%=logo%>" alt="">
    <header>
        <nav class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link active" href="/about">About</a>
            </li>
        </nav>
    </header>
    <div class="container">
        <%-body-%>
    </div>
</body>
</html>